{% extends 'begin/base.html' %}
{% load static %}
{% block body %}
 <!--<section id="services" class="services wow fadeIn">-->
          <!--<div class="container text-center">-->
            <!--<h1 class="title">WHAT WE DO?</h1>-->
             <!--<div class="row text-center">-->

                <!--<div class="col-md-6 services">-->
                    <!--<h4>Detailed Specialist</h4>-->
                    <!--<p>On the basis of disease predicted,we provide you a detailed list of Specialist.</p>-->


                <!--</div>-->
          <!--</section>-->
<section id="services" class="services wow fadeIn">


    <div class="servicediv" style="text-align: center;">
            <p>We offers books to students, readers, and those who require books for short-term use using cheap and cost-effective methods rather than having to purchase new books frequently.  </p>
            <p>Members can easily offer their books in the list they have in stock that are no longer required; this is done by offering book details, prices, and contact information.</p>
        </div>
          </section>
{% endblock %}